.portrait{
    border-radius: 50%;
    width: 180px;
    height: 240px;

    margin-top: 3vh;

    border-color: rgb(0, 51, 160);
    border-radius: 50%;
    border-style: solid;

    z-index: 1;
}

/* .description{
    width: 50vw;

    position: relative;
    top: -3vh;

    padding: 10px;
    padding-top: 5vh;
    padding-bottom: 5vh;

    background-color: white;

    border-color: rgb(0, 51, 160);
    border-radius: 10px;
    border-style: solid;
} */