.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    border-style: solid;

    /* height: 80vh; */
}

.card:hover{
    background-color: rgb(195, 195, 195);
}

.image-and-description{
    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card-img{
    position: relative;
    top: 10px;

    object-fit: contain;
    width: 90%;
    /* height: 90%; */

    border-radius: 15px;
}

.project-card-p{
    width: 95%;
    text-align: start;
}

.skills-area{
    width: 80%;
    margin-bottom: 5%;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.skills-area h4{
    align-self: center;
}
.skills-area li{
    top: 100px;
}
